$primary-color-1:#532D1D;
$primary-color-2:#E5B168;
$primary-color-3:#2C4A3B;
$primary-color-4:#F5E6D3;
$primary-color-5:#2A2A2A;

$secondary-color-1:#FF7D55;
$secondary-color-2:#A4C9E0;
$secondary-color-3:#9CAF88;

@font-face {
    font-family: "Cormorant";
    src: url("../../../fonts/BebasNeue-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Cormorant-body";
    src: url("../../../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
    font-weight: normal;
}

.destinations-container {
    background-color: $primary-color-4;
    padding: 20px;
  
    h2 {
      padding: 20px 0;
      text-align: center;
      font-size: 40px;
      font-family: 'Cormorant', serif;
      color: $primary-color-1;
    }
  
    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      grid-auto-rows: 350px;
      gap: 20px;
      padding: 20px;
  
      .grid-item {
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #ccc; /* Default background color for fallback */
  
        &:nth-child(2n) {
          grid-column: span 1;
          grid-row: span 2;
        }
  
        .image-wrapper {
          position: relative;
          width: 100%;
          height: 100%; /* Ensure the image fills the parent container */
        }
  
        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(83, 45, 29, 0.4);
          color: $primary-color-4;
          display: flex;
          opacity: 0;
          transition: opacity 0.3s ease;
          z-index: 2; /* Ensure the overlay is on top of the image */
          .overlay-text{
            top: 50%;
            left: 40%;
          }
          h3 {
            font-size: 1.5rem;
            font-family: 'Cormorant', sans-serif;
            padding: 10px;
            text-align: center;
            max-width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
  
        &:hover .overlay {
          opacity: 1;
        }
      }
    }
  }
  
