$primary-color-1:#532D1D;
$primary-color-2:#E5B168;
$primary-color-3:#2C4A3B;
$primary-color-4:#F5E6D3;
$primary-color-5:#2A2A2A;

$secondary-color-1:#FF7D55;
$secondary-color-2:#A4C9E0;
$secondary-color-3:#9CAF88;